h1 {
	background-color: #eee;
}

.btn-primary {
	margin-bottom: 1%;
	margin-top: 1%;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }

 .img-max {
 	max-width:60%;
 	max-height:60%;
 }
